#enviar{background-color: rgb(139, 195, 74);}
#carouselExampleSlidesOnly{filter:brightness(50%)}
#color-del-footer{background-color: rgb(21, 67, 96);}
#carousel-inner{width: 50rem;}
#palabraOficial{
    text-decoration: wavy;
    color: blue;
    background-color: black;
}
.estiloPuntoHueco{list-style-type: circle;}